<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apadrina - Fundacion Goticas de amor animal</title>
    <link rel="stylesheet" href="./css/apadrina.css">

  
</head>

<body>

    <header class="hero">
        <!--abre el Header para el menu de navegacion-->
        <div id="cabecera">
            <nav class="nav">
                <div class="nav__logo">
                    <!--Se crea la division del logo-->
                    <h2 class="nav__title"><a href="index.html">
                            Gotitas de Amor Animal
                        </a>
                    </h2>
                </div>

                <ul class="nav__link nav__link--menu ">
                    <li class="nav__items ">
                        <a href="index.html" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Apadrina</a>
                    </li>
                    <li class="nav__items">
                        <a href="adopta.html" class="nav__links">Adopta</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Contribuye</a>
                    </li>

                    <li class="nav__items">
                        <a href="#" class="nav__links">Hogar de paso </a>
                    </li>

                    <li class="nav__items">
                        <a href="#" class="nav__links">Blog de servicios</a>
                    </li>

                    <li class="nav__items">
                        <a href="iniciosesion.html" class="nav__links">Inicio de Sesión</a>
                    </li>

                    <img src="./images/close.svg" class="nav__close" alt="icono de cerrar">
                    <!--Se pone el icono de cerrar-->
                </ul>

                <div class="nav__menu">
                    <img src="./images/menu.svg" class="nav__img" alt="icono menu hamburgesa">
                    <!--Se pone el icono de menu hamburgesa-->
                </div>
            </nav>
        </div>
        <section class="hero__container container">
            <h3>Encuentra a tu mejor amigo</h3>
            <h1 class="hero__title">¿Quieres Adoptar?</h1>
            <a href="" class="cta" id="btn-requisitos">Requisitos</a>
            <a href="#" class="cta" id="btn-donar">Haz una donacion</a>

        </section>
    </header>

    <main>
        <section class="container about">
            <h2 class="subtitle">UN</h2>
            <p class="about__paragraph">Nuestra fundacion fue creada en el año 2002 y ha albergado aproximadamente 400
                animalitos sin hogar, de los cuales hoy en día hay un total de 48 de perros, 30 de gatos, 3 Tortugas,
                aves (2 Pavos Reales, 3 Gallinas,1 Gallo,3 Patos, 2 Loras y aves de la zona) .
                Nuestros espacios siempre están abiertos a todos lo animales tanto silvestres como domésticos con el fin
                de brindarle un hogar donde se suplan la mayor parte posible de sus necesidades básicas. </p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="./images/quienessomos.svg" class="about__icon">
                    <h3 class="about__title">¿Quienes somos ?</h3>
                    <p class="about__paragrah"> Somos una fundación sin ánimo de lucro, que se enfoca en restablecer los
                        derechos de los animales domésticos en situación de calle.
                    </p>
                </article>

                <article class="about__icons">
                    <img src="./images/mision.svg" class="about__icon">
                    <h3 class="about__title">Misión</h3>
                    <p class="about__paragrah">
                        Velar por el bienestar y restauración del rol de los animales domésticos en la familia y la
                        sociedad, así mismo custodiar que sus derechos se respeten y se reintegren como es debido.
                    </p>
                </article>

                <article class="about__icons">
                    <img src="./images/vision.svg" class="about__icon">
                    <h3 class="about__title">Visiòn</h3>
                    <p class="about__paragrah">Brindar bienestar y calidad de vida a cada uno de nuestros animalitos que
                        hacen parte de esta gran familia.</p>
                </article>
            </div>
        </section>
        <!--parte de la pagina de como puedes ayudar -->
        <section class="requisitos_adoptar">
            <div class="requisitos__container container">
                <div class="requisitos__texts">
                    <h2 class="subtitle">Requisitos para adoptar <br/></h2>
                    <p class="requisitos__paragraph">
                    </p>
                    <a href="#" class="cta">Contribuir</a>
                </div>
            </div>
        </section>






    </main>
    <script src="./js/menu.js"></script>
</body>

</html>