{% load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fundacion Gotitas de amor animal </title>
    <link rel="shortcut icon" href="./images/WhatsApp Image 2022-08-29 at 7.40.52 AM-modified.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='{% static "css/registro.css" %}'>
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>


    <script type="text/javascript">
        function mostrarPassword() {
            var cambio = document.getElementById("contraseña");
            var cambio2 = document.getElementById("contraseña2");

            if (cambio.type == "password" || cambio2.type == "password") {
                cambio.type = "text";
                cambio2.type = "text";
                $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            } else {
                cambio.type = "password";
                cambio2.type = "password";
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }
        }

        $(document).ready(function () {
            //CheckBox mostrar contraseña
            $('#ShowPassword').click(function () {
                $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
            });
        });

    </script>
</head>

<body>
    <main class="container">
        <div class="row vh-100 align-items-center justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <div class="card flex-row my-5 border-2 rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background-Image en CSS!-->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center fw-bold mb-5 fw-light fs-5"><b>Formulario de registro </b>
                        </h5>

                        <div id="msg"></div>

                        <!-- Mensajes de Verificación -->
                        <div id="error" class="alert alert-danger ocultar" role="alert">
                            Las Contraseñas no coinciden, vuelve a intentar !
                        </div>
                        <div id="ok" class="alert alert-success ocultar" role="alert">
                            Las Contraseñas coinciden ! (Procesando formulario ... )
                        </div>

                        <form action="" method="POST" id="registro_form">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="text" name="nombre" class="form-control" id="nombre"
                                    placeholder="Ingresa tu nombre" required />
                                <label for="nombre">Nombres</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" name="apellido" class="form-control" id="apellido"
                                    placeholder="Ingresa tus apellidos" required />
                                <label for="apellido">Apellidos</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" name="direccion" class="form-control" id="direccion"
                                    placeholder="Ingresa tu direccion" required />
                                <label for="direccion">Dirección de la residencia</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" name="celular" class="form-control" id="celular"
                                    placeholder="Ingresa tu numero telefonico" required />
                                <label for="celular">Número de celular</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" name="email" class="form-control" id="email"
                                    placeholder="name@example.com" required />
                                <label for="email">Correo Electrónico</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" name="contraseña" class="form-control" id="contraseña"
                                    placeholder="Ingresa la contraseña" required />
                                <label for="contraseña">Contraseña</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" name="contraseña2" class="form-control" id="contraseña2"
                                    placeholder="Ingresa la contraseña" required />
                                <div class="input-group-append">
                                    <button id="show_password" class="btn btn-primary" type="button"
                                        onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span>
                                    </button>
                                </div>
                                <label for="contraseña2">Confirmar Contraseña</label>
                            </div>

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                                    type="submit">Registrarse</button>
                            </div>
                        </form>

                        <hr class="my-4">
                        
                        <div class="d-grid">
                            <button class="btn btn-lg btn-inicio btn-login fw-bold text-uppercase" type="submit">
                                <a class="btn-register" href="index.html">
                                    Regresar al inicio
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src='{% static "js/registro.js" %}'></script>
    <script src='{% static "js/bootstrap.js" %}'></script>
</body>


</html>